*{
  box-sizing: border-box;
}
html,body,div {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  }

.main-row {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 0 1px #9a9a9a;
}

.side-chat-list {
  padding: 0;
  margin: 0;
  height: 100%;
}

.material-icons.md-18 { font-size: 18px; }

.material-icons.md-36 { font-size: 36px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }

.heading {
  height: 4rem;
  width: 100%;  
  padding: 0.3rem;
  margin: 0;
  background-color: #f2f2f2;
  }

.heading-profile{
  padding: 0;
  cursor: pointer;
}

.images{
  max-height: 100%;
  max-width: inherit;
}

.prof-image {
  position: relative;
  width: 100%;
}

.image-modal {
opacity: 1;
width: 30%;
height: 30%;
transition: .5s ease;
backface-visibility: hidden;
}

.middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}

.prof-image:hover .image-modal {
opacity: 0.3;
}

.prof-image:hover .middle {
opacity: 1;
}

.text {
background-color: #4CAF50;
color: white;
font-size: 16px;
padding: 16px 32px;
}

.heading-name-meta {
  height: inherit;
  font-weight: 400;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}

.heading-newMessage {
  padding: 0;
}

.heading-newMessage i {
  padding: 5px;
  cursor: pointer;
}

.heading-menu {
  position: relative;
  padding: 0;
  }

.heading-menu i {
   padding: 5px;
  cursor: pointer;
}

.searchBox {
  padding: 0.3rem !important;
  margin: 0 !important;
  height: 4rem;
  width: 100%;
  background: #fbfbfb;
}

.sideBar {
  height: calc(100% - 128px);
  width: 100%;
  padding: 0.3rem !important;
  margin: 0 !important;
  background-color: #fff;
  overflow-y: scroll;
  border: 1px solid #f7f7f7;
  
}

.sideBar-body {
  margin: 0 !important;
  padding-top: 1vh;
  height: 4rem;
  border-bottom: 0.6px solid #dcdedf;
  cursor: pointer;
}

.sideBar-body:hover {
  background-color: #f2f2f2;
}

.sideBar-avatar {
  text-align: center;
  padding: 0 !important;
}

.sideNav-images{
  height: 50px;
  width: 50px;
}

.newMessage {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  position: relative;
  left: -100%;
}

.main-chat-window {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, .08);
}

.message {
  padding: 0 !important;
  margin: 0 !important;
  height: calc(100% - 124px);
  background: url("background.jpg") no-repeat fixed center;
  background-size: cover;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  
}

.message-body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: auto;
}

.message-main-receiver {
  max-width: 50%;
  height: auto;
  margin-top: 10px;
}

.message-main-sender {
  padding: 3px 20px !important;
  margin-left: 40% !important;
  max-width: 60%;
}

.message-text {
  font-weight: 200;
  font-size: 14px;
}

.message-time {
  font-size: 12px;
  text-align: right;
  color: #9a9a9a;
}

.receiver {
  height: auto;
  width: auto !important;
  padding: 4px 10px 7px !important;
  border-radius: 10px 10px 10px 0;
  background: #ffffff;
}

.sender {
  height: auto;
  float: right;
  width: auto !important;
  background: #dcf8c6;
  border-radius: 10px 10px 0 10px;
  padding: 4px 10px 7px !important;
  font-size: 12px;
}

.reply {
  height: auto;
  width: auto;
  background-color: #f5f1ee;
  margin: 0 !important;
}

.reply-smiley {
  padding-top: 10px;
}

.reply-smiley i {
  color: darkslategray;
  cursor: pointer;
}

.reply-send {
  padding: 10px !important;
}

.reply-send i {
  text-align: center;
  cursor: pointer;
}

.reply-text-box {
  padding: 10px !important;
}


@media screen and (max-width: 768px) {
  
  body {
    font-size: 14px;
  }
    
  .app {
    top: 0;
    height: 100%;
  }
    
  .heading {
    height: 3rem;
    background-color: #047166;
  }

  .heading-name-meta{
    color: white !important; 
  }

  .heading-name-meta>p>small{
    color: white !important; 

  }

.material-icons.md-36 { font-size: 24px; }
    
.material-icons.md-dark { color: rgba(255, 255, 255, 1); }
    
.message-read{
  color: rgba(0, 0, 0, 0.54) !important;
}
    
.chat-window-link{
  width: 100%;
  }
  
  .heading-newMessage i {
    cursor: pointer;
  }

  .heading-menu i {
    cursor: pointer;
  }
    
  .sideBar {
    height: calc(100% - 7rem);
  }
    
  .sideBar-body {
    height: 3rem;
  }

  .sideNav-images{
    height: 40px;
    width: 40px;
  }

  /*main-chat-window*/
  .main-chat-window {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, .08);
  }
    
  .message {
    height: calc(100% - 6rem);
  }
    
  .reply {
    height: auto;
    background: #047166;
  }
    
  .reply-smiley {
    padding: 5px !important;
  }
    
  .reply-smiley i {
    padding: 5px !important;
  }

  .mic-dark{
    color: rgba(0, 0, 0, 0.54) !important;
    padding: 5px;
  }
    
  .reply-text-box {
    padding: 5px !important;
  }
  
  .reply-send {
    padding: 5px !important;
  }
    
  .reply-send i {
    padding: 5px !important;
  }
}
